<a href="https://colab.research.google.com/github/VidyanandYadav/UIDAI/blob/main/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('final1.csv')

In [ ]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

In [ ]:
# import re

# df['district'] = (
#     df['district']
#     .str.lower()
#     .str.strip()
#     .str.replace(r'\s+', ' ', regex=True)   # extra spaces
#     .str.replace(r'[\*\(\)\.\-]', '', regex=True)  # *, (), ., -
# )

In [ ]:
l2=[]
l1=[]
for i in (df['state']).unique():
        l2.append(i)
        l1.append(len(sorted(df[df['state']==i]['district'].unique())))

In [ ]:
pd.DataFrame({'state':l2,'num_district':l1}).sort_values(by='state').

                                       state  num_district
33               Andaman and Nicobar Islands             5
14                            Andhra Pradesh            49
29                         Arunachal Pradesh            25
11                                     Assam            38
3                                      Bihar            48
24                                Chandigarh             2
16                              Chhattisgarh            40
28  Dadra and Nagar Haveli and Daman and Diu             5
8                                      Delhi            14
31                                       Goa             3
13                                   Gujarat            40
5                                    Haryana            26
30                          Himachal Pradesh            14
23                         Jammu and Kashmir            28
17                                 Jharkhand            35
1                                  Karnataka            56
27                                    Kerala            15
32                                    Ladakh             2
35                               Lakshadweep             1
9                             Madhya Pradesh            61
4                                Maharashtra            53
19                                   Manipur            12
0                                  Meghalaya            14
22                                   Mizoram            12
18                                  Nagaland            17
26                                    Odisha            46
34                                Puducherry             4
7                                     Punjab            28
6                                  Rajasthan            43
25                                    Sikkim            10
15                                Tamil Nadu            46
20                                 Telangana            42
21                                   Tripura             9
2                              Uttar Pradesh            89
12                               Uttarakhand            15
10                               West Bengal            58

In [ ]:
df['district'].nunique()

984

In [ ]:
# sorted(df['district'])

In [ ]:
sorted(df['state'].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

nagaland,goa,Puducherry

In [ ]:
df[df['district']=='Jaintia Hills']

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
360385,2025-10-13,Meghalaya,Jaintia Hills,793200,1,0,0
430923,2025-10-18,Meghalaya,Jaintia Hills,793150,1,0,0
480831,2025-10-25,Meghalaya,Jaintia Hills,793151,1,0,0
569864,2025-09-05,Meghalaya,Jaintia Hills,793150,1,0,0

In [ ]:
# sorted(df[df['district']=='West Jaintia Hills']['pincode'])

In [ ]:
sorted(df[df['district']=='East Jaintia Hills']['pincode'])

[793109,
 793109,
 793109,
 793109,
 793150,
 793151,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793160,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200,
 793200]

In [ ]:
def all_distict_name(state):
   count=1
   for i in state:
       print(count,i,'\n')
       print(sorted(df[df['state']==i]['district'].unique()),'\n')
       count=count+1

In [ ]:
all_distict_name(sorted(df['state'].unique()))

1 Andaman and Nicobar Islands

['Andamans', 'Nicobar', 'Nicobars', 'North And Middle Andaman', 'South Andaman']

2 Andhra Pradesh

['Adilabad', 'Alluri Sitharama Raju', 'Anakapalli', 'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Annamayya', 'Bapatla', 'Chittoor', 'Cuddapah', 'Dr. B. R. Ambedkar Konaseema', 'East Godavari', 'Eluru', 'Guntur', 'Hyderabad', 'K.V.Rangareddy', 'K.v. Rangareddy', 'Kakinada', 'Karim Nagar', 'Karimnagar', 'Khammam', 'Krishna', 'Kurnool', 'Mahabub Nagar', 'Mahabubnagar', 'Mahbubnagar', 'Medak', 'N. T. R', 'Nalgonda', 'Nandyal', 'Nellore', 'Nizamabad', 'Palnadu', 'Parvathipuram Manyam', 'Prakasam', 'Rangareddi', 'Spsr Nellore', 'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai', 'Srikakulam', 'Tirupati', 'Visakhapatanam', 'Visakhapatnam', 'Vizianagaram', 'Warangal', 'West Godavari', 'Y. S. R', 'chittoor', 'rangareddi']

3 Arunachal Pradesh

['Anjaw', 'Changlang', 'Dibang Valley', 'East Kameng', 'East Siang', 'Kamle', 'Kra Daadi', 'Kurung Kumey', 'Leparada', 'Lohit', 'Longding', 'Lower Dibang Valley', 'Lower Siang', 'Lower Subansiri', 'Namsai', 'Pakke Kessang', 'Papum Pare', 'Shi-yomi', 'Siang', 'Tawang', 'Tirap', 'Upper Siang', 'Upper Subansiri', 'West Kameng', 'West Siang']

4 Assam

['Bajali', 'Baksa', 'Barpeta', 'Biswanath', 'Bongaigaon', 'Cachar', 'Charaideo', 'Chirang', 'Darrang', 'Dhemaji', 'Dhubri', 'Dibrugarh', 'Dima Hasao', 'Goalpara', 'Golaghat', 'Hailakandi', 'Hojai', 'Jorhat', 'Kamrup', 'Kamrup Metro', 'Karbi Anglong', 'Karimganj', 'Kokrajhar', 'Lakhimpur', 'Majuli', 'Marigaon', 'Nagaon', 'Nalbari', 'North Cachar Hills', 'Sibsagar', 'Sivasagar', 'Sonitpur', 'South Salmara Mankachar', 'Sribhumi', 'Tamulpur District', 'Tinsukia', 'Udalguri', 'West Karbi Anglong']

5 Bihar

['Araria', 'Arwal', 'Aurangabad', 'Aurangabad(BH)', 'Aurangabad(bh)', 'Banka', 'Begusarai', 'Bhabua', 'Bhagalpur', 'Bhojpur', 'Buxar', 'Darbhanga', 'East Champaran', 'Gaya', 'Gopalganj', 'Jamui', 'Jehanabad', 'Kaimur (Bhabua)', 'Katihar', 'Khagaria', 'Kishanganj', 'Lakhisarai', 'Madhepura', 'Madhubani', 'Monghyr', 'Munger', 'Muzaffarpur', 'Nalanda', 'Nawada', 'Pashchim Champaran', 'Patna', 'Purba Champaran', 'Purbi Champaran', 'Purnea', 'Purnia', 'Rohtas', 'Saharsa', 'Samastipur', 'Samstipur', 'Saran', 'Sheikhpura', 'Sheikpura', 'Sheohar', 'Sitamarhi', 'Siwan', 'Supaul', 'Vaishali', 'West Champaran']

6 Chandigarh

['Chandigarh', 'Rupnagar']

7 Chhattisgarh

['Balod', 'Baloda Bazar', 'Balrampur', 'Bastar', 'Bemetara', 'Bijapur', 'Bilaspur', 'Dakshin Bastar Dantewada', 'Dantewada', 'Dhamtari', 'Durg', 'Gariyaband', 'Gaurela-pendra-marwahi', 'Gaurella Pendra Marwahi', 'Janjgir - Champa', 'Janjgir Champa', 'Janjgir-champa', 'Jashpur', 'Kabeerdham', 'Kanker', 'Kawardha', 'Khairagarh Chhuikhadan Gandai', 'Kondagaon', 'Korba', 'Koriya', 'Mahasamund', 'Manendragarh–Chirmiri–Bharatpur', 'Mohalla-Manpur-Ambagarh Chowki', 'Mohla-Manpur-Ambagarh Chouki', 'Mungeli', 'Narayanpur', 'Raigarh', 'Raipur', 'Rajnandgaon', 'Sakti', 'Sarangarh-Bilaigarh', 'Sukma', 'Surajpur', 'Surguja', 'Uttar Bastar Kanker']

8 Dadra and Nagar Haveli and Daman and Diu

['Dadra & Nagar Haveli', 'Dadra And Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman', 'Diu']

9 Delhi

['Central Delhi', 'East Delhi', 'Najafgarh', 'New Delhi', 'North Delhi', 'North East', 'North East   *', 'North East Delhi', 'North West Delhi', 'Shahdara', 'South Delhi', 'South East Delhi', 'South West Delhi', 'West Delhi']

10 Goa

['Bardez', 'North Goa', 'South Goa']

11 Gujarat

['Ahmadabad', 'Ahmedabad', 'Amreli', 'Anand', 'Arvalli', 'Banas Kantha', 'Banaskantha', 'Bharuch', 'Bhavnagar', 'Botad', 'Chhotaudepur', 'Dahod', 'Dang', 'Devbhumi Dwarka', 'Dohad', 'Gandhinagar', 'Gir Somnath', 'Jamnagar', 'Junagadh', 'Kachchh', 'Kheda', 'Mahesana', 'Mahisagar', 'Morbi', 'Narmada', 'Navsari', 'Panch Mahals', 'Panchmahals', 'Patan', 'Porbandar', 'Rajkot', 'Sabar Kantha', 'Sabarkantha', 'Surat', 'Surendra Nagar', 'Surendranagar', 'Tapi', 'The Dangs', 'Vadodara', 'Valsad']

12 Haryana

['Ambala', 'Bhiwani', 'Charkhi Dadri', 'Faridabad', 'Fatehabad', 'Gurgaon', 'Gurugram', 'Hisar', 'Jhajjar', 'Jhajjar *', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra', 'Mahendragarh', 'Mewat', 'Nuh', 'Palwal', 'Panchkula', 'Panipat', 'Rewari', 'Rohtak', 'Sirsa', 'Sonipat', 'Yamuna Nagar', 'Yamunanagar']

13 Himachal Pradesh

['Bilaspur', 'Chamba', 'Hamirpur', 'Kangra', 'Kinnaur', 'Kullu', 'Lahaul and Spiti', 'Lahul & Spiti', 'Lahul and Spiti', 'Mandi', 'Shimla', 'Sirmaur', 'Solan', 'Una']

14 Jammu and Kashmir

['Anantnag', 'Badgam', 'Bandipore', 'Bandipur', 'Baramula', 'Budgam', 'Doda', 'Ganderbal', 'Jammu', 'Kargil', 'Kathua', 'Kishtwar', 'Kulgam', 'Kupwara', 'Leh', 'Leh (ladakh)', 'Pulwama', 'Punch', 'Rajauri', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Shopian', 'Shupiyan', 'Srinagar', 'Udhampur', 'punch']

15 Jharkhand

['Bokaro', 'Bokaro *', 'Chatra', 'Deoghar', 'Dhanbad', 'Dumka', 'East Singhbhum', 'East Singhbum', 'Garhwa', 'Garhwa *', 'Giridih', 'Godda', 'Gumla', 'Hazaribag', 'Hazaribagh', 'Jamtara', 'Khunti', 'Kodarma', 'Koderma', 'Latehar', 'Lohardaga', 'Pakaur', 'Pakur', 'Palamau', 'Palamu', 'Pashchimi Singhbhum', 'Purbi Singhbhum', 'Ramgarh', 'Ranchi', 'Sahebganj', 'Sahibganj', 'Seraikela-Kharsawan', 'Seraikela-kharsawan', 'Simdega', 'West Singhbhum']

16 Karnataka

['Bagalkot', 'Bagalkot *', 'Ballari', 'Bangalore', 'Bangalore Rural', 'Belagavi', 'Belgaum', 'Bellary', 'Bengaluru', 'Bengaluru Rural', 'Bengaluru South', 'Bengaluru Urban', 'Bidar', 'Bijapur', 'Bijapur(KAR)', 'Chamarajanagar', 'Chamarajanagar *', 'Chamrajanagar', 'Chamrajnagar', 'Chickmagalur', 'Chikkaballapur', 'Chikkamagaluru', 'Chikmagalur', 'Chitradurga', 'Dakshina Kannada', 'Davanagere', 'Davangere', 'Dharwad', 'Gadag', 'Gadag *', 'Gulbarga', 'Hasan', 'Hassan', 'Haveri', 'Haveri *', 'Kalaburagi', 'Kodagu', 'Kolar', 'Koppal', 'Mandya', 'Mysore', 'Mysuru', 'Raichur', 'Ramanagar', 'Ramanagara', 'Shimoga', 'Shivamogga', 'Tumakuru', 'Tumkur', 'Udupi', 'Udupi *', 'Uttara Kannada', 'Vijayanagara', 'Vijayapura', 'Yadgir', 'yadgir']

17 Kerala

['Alappuzha', 'Ernakulam', 'Idukki', 'Kannur', 'Kasaragod', 'Kasargod', 'Kollam', 'Kottayam', 'Kozhikode', 'Malappuram', 'Palakkad', 'Pathanamthitta', 'Thiruvananthapuram', 'Thrissur', 'Wayanad']

18 Ladakh

['Kargil', 'Leh']

19 Lakshadweep

['Lakshadweep']

20 Madhya Pradesh

['Agar Malwa', 'Alirajpur', 'Anuppur', 'Ashok Nagar', 'Ashoknagar', 'Balaghat', 'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Burhanpur', 'Chhatarpur', 'Chhindwara', 'Damoh', 'Datia', 'Dewas', 'Dhar', 'Dindori', 'East Nimar', 'Guna', 'Gwalior', 'Harda', 'Harda *', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua', 'Katni', 'Khandwa', 'Khargone', 'Maihar', 'Mandla', 'Mandsaur', 'Mauganj', 'Morena', 'Narmadapuram', 'Narsimhapur', 'Narsinghpur', 'Neemuch', 'Niwari', 'Pandhurna', 'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa', 'Sagar', 'Satna', 'Sehore', 'Seoni', 'Shahdol', 'Shajapur', 'Sheopur', 'Shivpuri', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain', 'Umaria', 'Vidisha', 'West Nimar']

21 Maharashtra

['Ahilyanagar', 'Ahmadnagar', 'Ahmed Nagar', 'Ahmednagar', 'Akola', 'Amravati', 'Aurangabad', 'Beed', 'Bhandara', 'Bid', 'Buldana', 'Buldhana', 'Chandrapur', 'Chatrapati Sambhaji Nagar', 'Chhatrapati Sambhajinagar', 'Dharashiv', 'Dhule', 'Gadchiroli', 'Gondia', 'Gondiya', 'Gondiya *', 'Hingoli', 'Hingoli *', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur', 'Mumbai', 'Mumbai City', 'Mumbai Suburban', 'Mumbai( Sub Urban )', 'Nagpur', 'Nanded', 'Nandurbar', 'Nandurbar *', 'Nashik', 'Osmanabad', 'Palghar', 'Parbhani', 'Pune', 'Raigad', 'Raigarh', 'Raigarh(MH)', 'Ratnagiri', 'Sangli', 'Satara', 'Sindhudurg', 'Solapur', 'Thane', 'Wardha', 'Washim', 'Washim *', 'Yavatmal']

22 Manipur

['Bishnupur', 'Chandel', 'Churachandpur', 'Imphal East', 'Imphal West', 'Jiribam', 'Kakching', 'Pherzawl', 'Senapati', 'Tamenglong', 'Thoubal', 'Ukhrul']

23 Meghalaya

['East Garo Hills', 'East Jaintia Hills', 'East Khasi Hills', 'Eastern West Khasi Hills', 'Jaintia Hills', 'Kamrup', 'North Garo Hills', 'Ri Bhoi', 'South Garo Hills', 'South West Garo Hills', 'South West Khasi Hills', 'West Garo Hills', 'West Jaintia Hills', 'West Khasi Hills']

24 Mizoram

['Aizawl', 'Champhai', 'Hnahthial', 'Khawzawl', 'Kolasib', 'Lawngtlai', 'Lunglei', 'Mamit', 'Mammit', 'Saiha', 'Saitual', 'Serchhip']

25 Nagaland

['Chumukedima', 'Dimapur', 'Kiphire', 'Kohima', 'Longleng', 'Meluri', 'Mokokchung', 'Mon', 'Niuland', 'Noklak', 'Peren', 'Phek', 'Shamator', 'Tseminyu', 'Tuensang', 'Wokha', 'Zunheboto']

26 Odisha

['ANGUL', 'ANUGUL', 'Angul', 'Anugal', 'Anugul', 'Balangir', 'Baleshwar', 'Baleswar', 'Bargarh', 'Baudh', 'Bhadrak', 'Boudh', 'Cuttack', 'Debagarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR', 'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Jajpur', 'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Kendrapara *', 'Kendujhar', 'Khorda', 'Khordha', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'NUAPADA', 'Nabarangapur', 'Nabarangpur', 'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Sonapur', 'Subarnapur', 'Sundargarh', 'Sundergarh', 'jajpur']

27 Puducherry

['Karaikal', 'Pondicherry', 'Puducherry', 'Yanam']

28 Punjab

['Amritsar', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Fazilka', 'Ferozepur', 'Firozpur', 'Gurdaspur', 'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Malerkotla', 'Mansa', 'Moga', 'Muktsar', 'Nawanshahr', 'Pathankot', 'Patiala', 'Rupnagar', 'S.A.S Nagar', 'S.A.S Nagar(Mohali)', 'SAS Nagar (Mohali)', 'Sangrur', 'Shaheed Bhagat Singh Nagar', 'Sri Muktsar Sahib', 'Tarn Taran']

29 Rajasthan

['Ajmer', 'Alwar', 'Balotra', 'Banswara', 'Baran', 'Barmer', 'Beawar', 'Bharatpur', 'Bhilwara', 'Bikaner', 'Bundi', 'Chittaurgarh', 'Chittorgarh', 'Churu', 'Dausa', 'Deeg', 'Deeg\xa0', 'Dhaulpur', 'Dholpur', 'Didwana-Kuchaman', 'Dungarpur', 'Ganganagar', 'Hanumangarh', 'Jaipur', 'Jaisalmer', 'Jalor', 'Jalore', 'Jhalawar', 'Jhunjhunu', 'Jhunjhunun', 'Jodhpur', 'Karauli', 'Kota', 'Nagaur', 'Pali', 'Pratapgarh', 'Rajsamand', 'Salumbar', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Tonk', 'Udaipur']

30 Sikkim

['East', 'East Sikkim', 'Mangan', 'Namchi', 'North', 'North Sikkim', 'South', 'South Sikkim', 'West', 'West Sikkim']

31 Tamil Nadu

['Ariyalur', 'Chengalpattu', 'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul', 'Erode', 'Kallakurichi', 'Kancheepuram', 'Kanchipuram', 'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri', 'Madurai', 'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Namakkal   *', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Ranipet', 'Salem', 'Sivaganga', 'Tenkasi', 'Thanjavur', 'The Nilgiris', 'Theni', 'Thiruvallur', 'Thiruvarur', 'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupathur', 'Tirupattur', 'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Tiruvarur', 'Tuticorin', 'Vellore', 'Villupuram', 'Viluppuram', 'Virudhunagar']

32 Telangana

['Adilabad', 'Bhadradri Kothagudem', 'Hanumakonda', 'Hyderabad', 'Jagitial', 'Jangaon', 'Jangoan', 'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'K.v. Rangareddy', 'Kamareddy', 'Karimnagar', 'Khammam', 'Komaram Bheem', 'Mahabubabad', 'Mahabubnagar', 'Mancherial', 'Medak', 'Medchal Malkajgiri', 'Medchal-malkajgiri', 'Medchal?malkajgiri', 'Medchal−malkajgiri', 'Mulugu', 'Nagarkurnool', 'Nalgonda', 'Narayanpet', 'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla', 'Ranga Reddy', 'Rangareddy', 'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy', 'Warangal', 'Warangal (urban)', 'Warangal Rural', 'Warangal Urban', 'Yadadri.']

33 Tripura

['Dhalai', 'Dhalai  *', 'Gomati', 'Khowai', 'North Tripura', 'Sepahijala', 'South Tripura', 'Unakoti', 'West Tripura']

34 Uttar Pradesh

['Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Amethi', 'Amroha', 'Auraiya', 'Ayodhya', 'Azamgarh', 'Baghpat', 'Bagpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Bara Banki', 'Barabanki', 'Bareilly', 'Basti', 'Bhadohi', 'Bijnor', 'Budaun', 'Bulandshahar', 'Bulandshahr', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hamirpur', 'Hapur', 'Hardoi', 'Hathras', 'Jalaun', 'Jaunpur', 'Jhansi', 'Jyotiba Phule Nagar', 'Kannauj', 'Kanpur Dehat', 'Kanpur Nagar', 'Kasganj', 'Kaushambi', 'Kheri', 'Kushi Nagar', 'Kushinagar', 'Kushinagar *', 'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mahrajganj', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad', 'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Prayagraj', 'Rae Bareli', 'Raebareli', 'Rampur', 'Saharanpur', 'Sambhal', 'Sant Kabir Nagar', 'Sant Ravidas Nagar', 'Sant Ravidas Nagar Bhadohi', 'Shahjahanpur', 'Shamli', 'Shravasti', 'Shrawasti', 'Siddharth Nagar', 'Siddharthnagar', 'Sitapur', 'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi']

35 Uttarakhand

['Almora', 'Bageshwar', 'Chamoli', 'Champawat', 'Dehradun', 'Garhwal', 'Hardwar', 'Haridwar', 'Nainital', 'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal', 'Udham Singh Nagar', 'Uttarkashi']

36 West Bengal

['24 Paraganas North', '24 Paraganas South', 'Alipurduar', 'Bankura', 'Barddhaman', 'Bardhaman', 'Birbhum', 'Burdwan', 'Cooch Behar', 'Coochbehar', 'Dakshin Dinajpur', 'Darjeeling', 'Darjiling', 'Dinajpur Dakshin', 'Dinajpur Uttar', 'East Midnapore', 'East Midnapur', 'HOOGHLY', 'HOWRAH', 'Haora', 'Hawrah', 'Hooghiy', 'Hooghly', 'Howrah', 'Hugli', 'Jalpaiguri', 'Jhargram', 'KOLKATA', 'Kalimpong', 'Koch Bihar', 'Kolkata', 'MALDA', 'Malda', 'Maldah', 'Medinipur', 'Medinipur West', 'Murshidabad', 'NADIA', 'Nadia', 'North 24 Parganas', 'North Dinajpur', 'North Twenty Four Parganas', 'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Bardhaman', 'Purba Medinipur', 'Purulia', 'Puruliya', 'South 24 Pargana', 'South 24 Parganas', 'South 24 parganas', 'South Dinajpur', 'South Twenty Four Parganas', 'Uttar Dinajpur', 'West Medinipur', 'West Midnapore', 'hooghly', 'nadia']

In [ ]:
df[df['state']=='Uttar Pradesh']['district'].nunique()

89

In [ ]:
df['district'].nunique()

984

In [ ]:
#sorted(df['district'].unique())

In [ ]:
len(sorted(df[df['state']=='Kerala']['district'].unique()))

15

In [ ]:

# sorted(df[df['state']=='Uttar Pradesh']['district'].unique())

In [ ]:
# import re

# def normalize(x):
#     if pd.isna(x):
#         return x
#     x = x.lower().strip()
#     x = re.sub(r'[^a-z\s]', '', x)
#     x = re.sub(r'\s+', ' ', x)
#     return x



# def clean_district(x):
#     key = normalize(x)
#     return district_map.get(key, x.strip().title())

In [ ]:
# df['district_clean'] = df['district'].apply(clean_district)

In [ ]:
dist_mapped={
    # 1 west Bengal
    '24 Paraganas North': 'North 24 Parganas',
    '24 Paraganas South': 'South 24 Parganas',
    'Barddhaman': 'Bardhaman',
    'Burdwan': 'Bardhaman',
    'Cooch Behar': 'Coochbehar',
    'Dakshin Dinajpur': 'South Dinajpur',
    'Dinajpur Dakshin': 'South Dinajpur',
    'Dinajpur Uttar': 'North Dinajpur',
    'Darjiling': 'Darjeeling',
    'East Midnapur': 'East Midnapore',
    'HOOGHLY': 'Hooghly',
    'HOWRAH': 'Howrah',
    'Haora': 'Hooghly',
    'Hawrah': 'Howrah',
    'Hooghiy': 'Hooghly',
    'Hugli': 'Hooghly',
    'KOLKATA': 'Kolkata',
    'Koch Bihar': 'Coochbehar',
    'MALDA': 'Malda',
    'Maldah': 'Malda',
    'Medinipur': 'Medinipur West',
    'NADIA': 'Nadia',
    'North Twenty Four Parganas': 'North 24 Parganas',
    'Puruliya': 'Purulia',
    'South 24 Pargana': 'South 24 Parganas',
    'South 24 parganas': 'South 24 Parganas',
    'South Twenty Four Parganas': 'South 24 Parganas',
    'West Midnapore': 'West Medinipur',
    'hooghly': 'Hooghly',
    'nadia': 'Nadia',

    #2 uttarakhand
    'Hardwar': 'Haridwar',
    'Garhwal': 'Pauri Garhwal',

    #3 uttar pradesh
    'Allahabad': 'Prayagraj',
    'Bagpat': 'Baghpat',
    'Bulandshahar': 'Bulandshahr',
    'Jyotiba Phule Nagar': 'Amroha',
    'Kushi Nagar': 'Kushinagar',
    'Kushinagar *': 'Kushinagar',
    'Mahrajganj': 'Maharajganj',
    'Rae Bareli': 'Raebareli',
    'Shrawasti': 'Shravasti',
    'Siddharthnagar': 'Siddharth Nagar',
    'Sant Ravidas Nagar Bhadohi': 'Bhadohi',
    'Sant Ravidas Nagar': 'Bhadohi',
    'Faizabad': 'Ayodhya',
    'Bara Banki': 'Barabanki',
    'Bhadohi': 'Bhadohi',

    # 4 tripura
    'Dhalai  *': 'Dhalai',
    'North Tripura': 'North Tripura',
    'South Tripura': 'South Tripura',
    'West Tripura': 'West Tripura',
    'Gomati': 'Gomati',
    'Khowai': 'Khowai',
    'Sepahijala': 'Sepahijala',
    'Unakoti': 'Unakoti',

    # 5 telangana
    "Jagitial": "Jagtial",
    "Jangaon": "Jangaon",
    "Jangoan": "Jangaon",
    "K.v. Rangareddy": "Ranga Reddy",
    "Rangareddy": "Ranga Reddy",
    "Medchal Malkajgiri": "Medchal–Malkajgiri",
    "Medchal-malkajgiri": "Medchal–Malkajgiri",
    "Medchal?malkajgiri": "Medchal–Malkajgiri",
    "Medchal−malkajgiri": "Medchal–Malkajgiri",
    "Warangal (urban)": "Warangal Urban",
    "Warangal Rural": "Warangal Rural",
    "Warangal Urban": "Warangal Urban",
    "Yadadri.": "Yadadri Bhuvanagiri",

    # 6 tamil naidu
    "Kanchipuram": "Kancheepuram",
    "Kanniyakumari": "Kanyakumari",
    "Namakkal   *": "Namakkal",
    "Tirupattur": "Tirupathur",
    "Tiruvallur": "Thiruvallur",
    "Tiruvarur": "Thiruvarur",
    "Tuticorin": "Thoothukkudi",
    "Viluppuram": "Villupuram",

    # 7 sikkim
    "East": "East Sikkim",
    "Mangan": "North Sikkim",
    "Namchi": "South Sikkim",
    "North": "North Sikkim",
    "South": "South Sikkim",
    "West": "West Sikkim",

    # 8 Odisha
        "ANGUL": "Angul",
    "ANUGUL": "Angul",
    "Anugal": "Angul",
    "Anugul": "Angul",
    "Balangir": "Balangir",
    "Baleshwar": "Balasore",
    "Baleswar": "Balasore",
    "Bargarh": "Bargarh",
    "Baudh": "Boudh",
    "Bhadrak": "Bhadrak",
    "Boudh": "Boudh",
    "Cuttack": "Cuttack",
    "Debagarh": "Deogarh",
    "Dhenkanal": "Dhenkanal",
    "Gajapati": "Gajapati",
    "Ganjam": "Ganjam",
    "JAJPUR": "Jajpur",
    "Jagatsinghapur": "Jagatsinghpur",
    "Jagatsinghpur": "Jagatsinghpur",
    "Jajapur": "Jajpur",
    "Jajpur": "Jajpur",
    "Jharsuguda": "Jharsuguda",
    "Kalahandi": "Kalahandi",
    "Kandhamal": "Kandhamal",
    "Kendrapara": "Kendrapara",
    "Kendrapara *": "Kendrapara",
    "Kendujhar": "Keonjhar",
    "Khorda": "Khordha",
    "Khordha": "Khordha",
    "Koraput": "Koraput",
    "Malkangiri": "Malkangiri",
    "Mayurbhanj": "Mayurbhanj",
    "NUAPADA": "Nuapada",
    "Nabarangapur": "Nabarangapur",
    "Nabarangpur": "Nabarangapur",
    "Nayagarh": "Nayagarh",
    "Nuapada": "Nuapada",
    "Puri": "Puri",
    "Rayagada": "Rayagada",
    "Sambalpur": "Sambalpur",
    "Sonapur": "Sonapur",
    "Subarnapur": "Subarnapur",
    "Sundargarh": "Sundargarh",
    "Sundergarh": "Sundargarh",
    "jajpur": "Jajpur",


    # 9 Rajasthan
    "Balotra": "Barmer",
    "Banswara": "Banswara",
    "Chittaurgarh": "Chittorgarh",
    "Deeg": "Deeg",
    "Deeg\xa0": "Deeg",
    "Dhaulpur": "Dholpur",
    "Dholpur": "Dholpur",
    "Didwana-Kuchaman": "Didwana",
    "Ganganagar": "Sri Ganganagar",
    "Jhunjhunu": "Jhunjhunun",  # keep official spelling as "Jhunjhunu"
    "Jalore": "Jalor",
    "Salumbar": "Salumber",

    # 10 punjab
    "Firozpur": "Firozpur",
    "Ferozepur": "Firozpur",
    "Malerkotla": "Malerkotla",
    "Muktsar": "Sri Muktsar Sahib",
    "S.A.S Nagar": "Sahibzada Ajit Singh Nagar",
    "S.A.S Nagar(Mohali)": "Sahibzada Ajit Singh Nagar",
    "SAS Nagar (Mohali)": "Sahibzada Ajit Singh Nagar",
    "Shaheed Bhagat Singh Nagar": "Shaheed Bhagat Singh Nagar",
    "Sri Muktsar Sahib": "Sri Muktsar Sahib",

    # 11 ponducheery
    "Pondicherry": "Puducherry",
    "Karaikal": "Karaikal",
    "Yanam": "Yanam",
    "Puducherry": "Puducherry",

    #12 nagaland -. all cleaned

    # 13 mizzoram
    "Mammit": "Mamit",

    # 14 maharastra
    "Ahilyanagar": "Ahmadnagar",
    "Ahmed Nagar": "Ahmadnagar",
    "Ahmednagar": "Ahmadnagar",
    "Bid": "Beed",
    "Buldana": "Buldhana",
    "Chatrapati Sambhaji Nagar": "Aurangabad",
    "Chhatrapati Sambhajinagar": "Aurangabad",
    "Dharashiv": "Osmanabad",
    "Gondiya": "Gondia",
    "Gondiya *": "Gondia",
    "Hingoli *": "Hingoli",
    "Mumbai City": "Mumbai",
    "Mumbai( Sub Urban )": "Mumbai Suburban",
    "Nandurbar *": "Nandurbar",
    "Raigarh": "Raigad",
    "Raigarh(MH)": "Raigad",
    "Washim *": "Washim",

    # 15 madhya pradesh
    "Ashok Nagar": "Ashoknagar",
    "Harda *": "Harda",
    "East Nimar": "Khandwa",
    "West Nimar": "Khargone",
    "Narsimhapur": "Narsinghpur",
    "Hoshangabad": "Narmadapuram",
    # "Maihar": None,        # Tehsil, not a district
    # "Mauganj": None         # Tehsil, not a district

    # 16 karnataka
    "Bagalkot *": "Bagalkot",
    "Ballari": "Ballari",
    "Bellary": "Ballari",
    "Bangalore": "Bengaluru",
    "Bengaluru": "Bengaluru",
    "Bangalore Rural": "Bengaluru Rural",
    "Bijapur": "Vijayapura",
    "Bijapur(KAR)": "Vijayapura",
    "Chamarajanagar *": "Chamarajanagar",
    "Chamrajanagar": "Chamarajanagar",
    "Chamrajnagar": "Chamarajanagar",
    "Chickmagalur": "Chikkamagaluru",
    "Chikmagalur": "Chikkamagaluru",
    "Chikkamagaluru": "Chikkamagaluru",
    "Davanagere": "Davangere",
    "Hasan": "Hassan",
    "Haveri *": "Haveri",
    "Gulbarga": "Kalaburagi",
    "Mysore": "Mysuru",
    "Ramanagar": "Ramanagara",
    "Tumkur": "Tumakuru",
    "Udupi *": "Udupi",
    "yadgir": "Yadgir",
    "Shivamogga": "Shimoga",

    #17 jharkhand
    "Bokaro *": "Bokaro",
    "East Singhbum": "East Singhbhum",
    "Garhwa *": "Garhwa",
    "Hazaribag": "Hazaribagh",
    "Kodarma": "Koderma",
    "Pakaur": "Pakur",
    "Palamau": "Palamu",
    "Sahebganj": "Sahibganj",
    "Seraikela-kharsawan": "Seraikela-Kharsawan",

    #18 jammu & kashmir
    "Badgam": "Budgam",
    "Bandipur": "Bandipore",
    "Punch": "Poonch",
    "punch": "Poonch",
    "Rajauri": "Rajouri",
    "Shupiyan": "Shopian",
    "Leh (ladakh)": "Leh",

    # 19 himachal pradesh
    "Lahul & Spiti": "Lahaul and Spiti",
    "Lahul and Spiti": "Lahaul and Spiti",
    "Lahaul and Spiti": "Lahaul and Spiti",
    "Bilaspur": "Bilaspur",
    "Chamba": "Chamba",
    "Hamirpur": "Hamirpur",
    "Kangra": "Kangra",
    "Kinnaur": "Kinnaur",
    "Kullu": "Kullu",
    "Mandi": "Mandi",
    "Shimla": "Shimla",
    "Sirmaur": "Sirmaur",
    "Solan": "Solan",
    "Una": "Una",

    # 20 harayana
    "Jhajjar *": "Jhajjar",
    "Gurgaon": "Gurugram",
    "Yamuna Nagar": "Yamunanagar",


    # 21 gurarat
     "Ahmadabad": "Ahmedabad",
    "Banas Kantha": "Banaskantha",
    "Sabar Kantha": "Sabarkantha",
    "Surendra Nagar": "Surendranagar",
    "Panch Mahals": "Panchmahals",
    "The Dangs": "Dang",
    "Chhotaudepur": "Chhota Udepur",
    "Mahesana": "Mehsana",
    "Kachchh": "Kutch",
    "Arvalli": "Aravalli",
    "Mahisagar": "Mahisagar",
    "Dohad": "Dahod",

    # 22 Delhi
    "North East": "North East Delhi",
    "North East   *": "North East Delhi",
    "Najafgarh": "South West Delhi",
    "New Delhi": "Central Delhi",
    "Shahdara": "East Delhi",
    "Central Delhi": "Central Delhi",
    "East Delhi": "East Delhi",
    "North Delhi": "North Delhi",
    "North West Delhi": "North West Delhi",
    "South Delhi": "South Delhi",
    "South East Delhi": "South East Delhi",
    "South West Delhi": "South",

    # 23 Dadra and Nagar Haveli and Daman and Diu
    "Dadra & Nagar Haveli": "Dadra and Nagar Haveli",
    "Dadra And Nagar Haveli": "Dadra and Nagar Haveli",
    "Dadra and Nagar Haveli": "Dadra and Nagar Haveli",
    "Daman": "Daman",
    "Diu": "Diu",

    # 24 chhatisgarh
    "Gaurela-pendra-marwahi": "Gaurela Pendra Marwahi",
    "Janjgir - Champa": "Janjgir Champa",
    "Janjgir-champa": "Janjgir Champa",
    "Dakshin Bastar Dantewada": "Dantewada",
    "Manendragarh–Chirmiri–Bharatpur": "Manendragarh",
    "Mohalla-Manpur-Ambagarh Chowki": "Mohla-Manpur-Ambagarh Chouki",
    "Kabeerdham": "Kabirdham",
    "Kawardha": "Kabirdham",
    "Uttar Bastar Kanker": "Kanker",
    "Khairagarh Chhuikhadan Gandai": "Khairagarh-Chhuikhadan-Gandai",

    # 25 bihar
    "Aurangabad(BH)": "Aurangabad",
    "Aurangabad(bh)": "Aurangabad",
    "Bhabua": "Kaimur",
    "Kaimur (Bhabua)": "Kaimur",
    "Monghyr": "Munger",
    "Pashchim Champaran": "West Champaran",
    "Purba Champaran": "East Champaran",
    "Purbi Champaran": "East Champaran",
    "Purnea": "Purnia",
    "Samstipur": "Samastipur",
    "Sheikpura": "Sheikhpura",

    #26 assam
    "Sibsagar": "Sivasagar",
    "North Cachar Hills": "Dima Hasao",
    "West Karbi Anglong": "Karbi Anglong",
    "Marigaon": "Morigaon",
    "Tamulpur District": "Tamulpur",
    "Kamrup": "Kamrup Rural",
    "Kamrup Metro": "Kamrup Metropolitan",
    # "Sribhumi": None  # remove non-district

    # 27 Arunachal pradesh
    "Dibang Valley": "Lower Dibang Valley",
    "Leparada": "Lower Siang",
    "Shi-yomi": "Shi Yomi",
    "Kra-Daadi": "Kra Daadi",
    "Kra Daadi": "Kra Daadi",

    # 28 andra predesh
     "Anantapur": "Anantapuramu",
    "Ananthapur": "Anantapuramu",
    "chittoor": "Chittoor",
    "Cuddapah": "Kadapa",
    # "Hyderabad": None,  # remove, belongs to Telangana
    "K.V.Rangareddy": "Ranga Reddy",
    "K.v. Rangareddy": "Ranga Reddy",
    "Karim Nagar": "Karimnagar",
    "Mahabub Nagar": "Mahabubnagar",
    "Mahbubnagar": "Mahabubnagar",
    "N. T. R": "NTR",
    "Spsr Nellore": "Sri Potti Sriramulu Nellore",
    "Visakhapatanam": "Visakhapatnam",
    "rangareddi": "Ranga Reddy",
    "Y. S. R": "Y. S. R.",


    # 29 andaman & nicobar
    "Andamans": "South Andaman",
    "Nicobar": "Nicobar",
    "Nicobars": "Nicobar",
    "South Andaman": "South Andaman",
    "North And Middle Andaman": "North and Middle Andaman",

    # 30 manipur
    # 31 goa

    # 32 meghalaya
    # "Jaintia Hills": ["East Jaintia Hills", "West Jaintia Hills"], doubt
    "Eastern West Khasi Hills": "West Khasi Hills",
    # "Kamrup": None,  # remove
    "East Garo Hills": "East Garo Hills",
    "East Jaintia Hills": "East Jaintia Hills",
    "West Jaintia Hills": "West Jaintia Hills",
    "East Khasi Hills": "East Khasi Hills",
    "West Khasi Hills": "West Khasi Hills",
    "North Garo Hills": "North Garo Hills",
    "South Garo Hills": "South Garo Hills",
    "South West Garo Hills": "South West Garo Hills",
    "Ri Bhoi": "Ri Bhoi",
    "South West Khasi Hills": "South West Khasi Hills"

    # 33 ladhak
    # 34 lakhsdeep
    # 35 kerala
    # chandigarh
}

In [ ]:
len(dist_mapped)

324

In [ ]:
# def clean_district(x):
#     key = normalize(x)
#     return district_map.get(key, x.strip().title())

In [ ]:
l=sorted(df['district'])

In [ ]:
df1=pd.DataFrame({'unclean_dist':l})

In [ ]:
df1

               unclean_dist
0        24 Paraganas North
1        24 Paraganas North
2        24 Paraganas North
3        24 Paraganas North
4        24 Paraganas North
...                     ...
1006002              yadgir
1006003              yadgir
1006004              yadgir
1006005              yadgir
1006006              yadgir

[1006007 rows x 1 columns]

In [ ]:
df1['District_Clean'] = df1['unclean_dist'].replace(dist_mapped)

In [ ]:
df1

               unclean_dist     District_Clean
0        24 Paraganas North  North 24 Parganas
1        24 Paraganas North  North 24 Parganas
2        24 Paraganas North  North 24 Parganas
3        24 Paraganas North  North 24 Parganas
4        24 Paraganas North  North 24 Parganas
...                     ...                ...
1006002              yadgir             Yadgir
1006003              yadgir             Yadgir
1006004              yadgir             Yadgir
1006005              yadgir             Yadgir
1006006              yadgir             Yadgir

[1006007 rows x 2 columns]

In [ ]:
df1['District_Clean'].nunique()

779

In [ ]:
df1['unclean_dist'].nunique()

984

In [ ]:
sorted(df1['District_Clean'].unique())

['Adilabad',
 'Agar Malwa',
 'Agra',
 'Ahmadnagar',
 'Ahmedabad',
 'Aizawl',
 'Ajmer',
 'Akola',
 'Alappuzha',
 'Aligarh',
 'Alipurduar',
 'Alirajpur',
 'Alluri Sitharama Raju',
 'Almora',
 'Alwar',
 'Ambala',
 'Ambedkar Nagar',
 'Amethi',
 'Amravati',
 'Amreli',
 'Amritsar',
 'Amroha',
 'Anakapalli',
 'Anand',
 'Anantapuramu',
 'Ananthapuramu',
 'Anantnag',
 'Angul',
 'Anjaw',
 'Annamayya',
 'Anuppur',
 'Araria',
 'Aravalli',
 'Ariyalur',
 'Arwal',
 'Ashoknagar',
 'Auraiya',
 'Aurangabad',
 'Ayodhya',
 'Azamgarh',
 'Bagalkot',
 'Bageshwar',
 'Baghpat',
 'Bahraich',
 'Bajali',
 'Baksa',
 'Balaghat',
 'Balangir',
 'Balasore',
 'Ballari',
 'Ballia',
 'Balod',
 'Baloda Bazar',
 'Balrampur',
 'Banaskantha',
 'Banda',
 'Bandipore',
 'Banka',
 'Bankura',
 'Banswara',
 'Bapatla',
 'Barabanki',
 'Baramula',
 'Baran',
 'Bardez',
 'Bardhaman',
 'Bareilly',
 'Bargarh',
 'Barmer',
 'Barnala',
 'Barpeta',
 'Barwani',
 'Bastar',
 'Basti',
 'Bathinda',
 'Beawar',
 'Beed',
 'Begusarai',
 'Belagavi',
 'Belgaum',
 'Bemetara',
 'Bengaluru',
 'Bengaluru Rural',
 'Bengaluru South',
 'Bengaluru Urban',
 'Betul',
 'Bhadohi',
 'Bhadradri Kothagudem',
 'Bhadrak',
 'Bhagalpur',
 'Bhandara',
 'Bharatpur',
 'Bharuch',
 'Bhavnagar',
 'Bhilwara',
 'Bhind',
 'Bhiwani',
 'Bhojpur',
 'Bhopal',
 'Bidar',
 'Bijnor',
 'Bikaner',
 'Bilaspur',
 'Birbhum',
 'Bishnupur',
 'Biswanath',
 'Bokaro',
 'Bongaigaon',
 'Botad',
 'Boudh',
 'Budaun',
 'Budgam',
 'Bulandshahr',
 'Buldhana',
 'Bundi',
 'Burhanpur',
 'Buxar',
 'Cachar',
 'Central Delhi',
 'Chamarajanagar',
 'Chamba',
 'Chamoli',
 'Champawat',
 'Champhai',
 'Chandauli',
 'Chandel',
 'Chandigarh',
 'Chandrapur',
 'Changlang',
 'Charaideo',
 'Charkhi Dadri',
 'Chatra',
 'Chengalpattu',
 'Chennai',
 'Chhatarpur',
 'Chhindwara',
 'Chhota Udepur',
 'Chikkaballapur',
 'Chikkamagaluru',
 'Chirang',
 'Chitradurga',
 'Chitrakoot',
 'Chittoor',
 'Chittorgarh',
 'Chumukedima',
 'Churachandpur',
 'Churu',
 'Coimbatore',
 'Coochbehar',
 'Cuddalore',
 'Cuttack',
 'Dadra and Nagar Haveli',
 'Dahod',
 'Dakshina Kannada',
 'Daman',
 'Damoh',
 'Dang',
 'Dantewada',
 'Darbhanga',
 'Darjeeling',
 'Darrang',
 'Datia',
 'Dausa',
 'Davangere',
 'Deeg',
 'Dehradun',
 'Deogarh',
 'Deoghar',
 'Deoria',
 'Devbhumi Dwarka',
 'Dewas',
 'Dhalai',
 'Dhamtari',
 'Dhanbad',
 'Dhar',
 'Dharmapuri',
 'Dharwad',
 'Dhemaji',
 'Dhenkanal',
 'Dholpur',
 'Dhubri',
 'Dhule',
 'Dibrugarh',
 'Didwana',
 'Dima Hasao',
 'Dimapur',
 'Dindigul',
 'Dindori',
 'Diu',
 'Doda',
 'Dr. B. R. Ambedkar Konaseema',
 'Dumka',
 'Dungarpur',
 'Durg',
 'East Champaran',
 'East Delhi',
 'East Garo Hills',
 'East Godavari',
 'East Jaintia Hills',
 'East Kameng',
 'East Khasi Hills',
 'East Midnapore',
 'East Siang',
 'East Sikkim',
 'East Singhbhum',
 'Eluru',
 'Ernakulam',
 'Erode',
 'Etah',
 'Etawah',
 'Faridabad',
 'Faridkot',
 'Farrukhabad',
 'Fatehabad',
 'Fatehgarh Sahib',
 'Fatehpur',
 'Fazilka',
 'Firozabad',
 'Firozpur',
 'Gadag',
 'Gadag *',
 'Gadchiroli',
 'Gajapati',
 'Ganderbal',
 'Gandhinagar',
 'Ganjam',
 'Garhwa',
 'Gariyaband',
 'Gaurela Pendra Marwahi',
 'Gaurella Pendra Marwahi',
 'Gautam Buddha Nagar',
 'Gaya',
 'Ghaziabad',
 'Ghazipur',
 'Gir Somnath',
 'Giridih',
 'Goalpara',
 'Godda',
 'Golaghat',
 'Gomati',
 'Gonda',
 'Gondia',
 'Gopalganj',
 'Gorakhpur',
 'Gumla',
 'Guna',
 'Guntur',
 'Gurdaspur',
 'Gurugram',
 'Gwalior',
 'Hailakandi',
 'Hamirpur',
 'Hanumakonda',
 'Hanumangarh',
 'Hapur',
 'Harda',
 'Hardoi',
 'Haridwar',
 'Hassan',
 'Hathras',
 'Haveri',
 'Hazaribagh',
 'Hingoli',
 'Hisar',
 'Hnahthial',
 'Hojai',
 'Hooghly',
 'Hoshiarpur',
 'Howrah',
 'Hyderabad',
 'Idukki',
 'Imphal East',
 'Imphal West',
 'Indore',
 'Jabalpur',
 'Jagatsinghpur',
 'Jagtial',
 'Jaintia Hills',
 'Jaipur',
 'Jaisalmer',
 'Jajpur',
 'Jalandhar',
 'Jalaun',
 'Jalgaon',
 'Jalna',
 'Jalor',
 'Jalpaiguri',
 'Jammu',
 'Jamnagar',
 'Jamtara',
 'Jamui',
 'Jangaon',
 'Janjgir Champa',
 'Jashpur',
 'Jaunpur',
 'Jayashankar Bhupalpally',
 'Jehanabad',
 'Jhabua',
 'Jhajjar',
 'Jhalawar',
 'Jhansi',
 'Jhargram',
 'Jharsuguda',
 'Jhunjhunun',
 'Jind',
 'Jiribam',
 'Jodhpur',
 'Jogulamba Gadwal',
 'Jorhat',
 'Junagadh',
 'Kabirdham',
 'Kadapa',
 'Kaimur',
 'Kaithal',
 'Kakching',
 'Kakinada',
 'Kalaburagi',
 'Kalahandi',
 'Kalimpong',
 'Kallakurichi',
 'Kamareddy',
 'Kamle',
 'Kamrup Metropolitan',
 'Kamrup Rural',
 'Kancheepuram',
 'Kandhamal',
 'Kangra',
 'Kanker',
 'Kannauj',
 'Kannur',
 'Kanpur Dehat',
 'Kanpur Nagar',
 'Kanyakumari',
 'Kapurthala',
 'Karaikal',
 'Karauli',
 'Karbi Anglong',
 'Kargil',
 'Karimganj',
 'Karimnagar',
 'Karnal',
 'Karur',
 'Kasaragod',
 'Kasargod',
 'Kasganj',
 'Kathua',
 'Katihar',
 'Katni',
 'Kaushambi',
 'Kendrapara',
 'Keonjhar',
 'Khagaria',
 'Khairagarh-Chhuikhadan-Gandai',
 'Khammam',
 'Khandwa',
 'Khargone',
 'Khawzawl',
 'Kheda',
 'Kheri',
 'Khordha',
 'Khowai',
 'Khunti',
 'Kinnaur',
 'Kiphire',
 'Kishanganj',
 'Kishtwar',
 'Kodagu',
 'Koderma',
 'Kohima',
 'Kokrajhar',
 'Kolar',
 'Kolasib',
 'Kolhapur',
 'Kolkata',
 'Kollam',
 'Komaram Bheem',
 'Kondagaon',
 'Koppal',
 'Koraput',
 'Korba',
 'Koriya',
 'Kota',
 'Kottayam',
 'Kozhikode',
 'Kra Daadi',
 'Krishna',
 'Krishnagiri',
 'Kulgam',
 'Kullu',
 'Kupwara',
 'Kurnool',
 'Kurukshetra',
 'Kurung Kumey',
 'Kushinagar',
 'Kutch',
 'Lahaul and Spiti',
 'Lakhimpur',
 'Lakhisarai',
 'Lakshadweep',
 'Lalitpur',
 'Latehar',
 'Latur',
 'Lawngtlai',
 'Leh',
 'Lohardaga',
 'Lohit',
 'Longding',
 'Longleng',
 'Lower Dibang Valley',
 'Lower Siang',
 'Lower Subansiri',
 'Lucknow',
 'Ludhiana',
 'Lunglei',
 'Madhepura',
 'Madhubani',
 'Madurai',
 'Mahabubabad',
 'Mahabubnagar',
 'Maharajganj',
 'Mahasamund',
 'Mahendragarh',
 'Mahisagar',
 'Mahoba',
 'Maihar',
 'Mainpuri',
 'Majuli',
 'Malappuram',
 'Malda',
 'Malerkotla',
 'Malkangiri',
 'Mamit',
 'Mancherial',
 'Mandi',
 'Mandla',
 'Mandsaur',
 'Mandya',
 'Manendragarh',
 'Mansa',
 'Mathura',
 'Mau',
 'Mauganj',
 'Mayiladuthurai',
 'Mayurbhanj',
 'Medak',
 'Medchal–Malkajgiri',
 'Medinipur West',
 'Meerut',
 'Mehsana',
 'Meluri',
 'Mewat',
 'Mirzapur',
 'Moga',
 'Mohla-Manpur-Ambagarh Chouki',
 'Mokokchung',
 'Mon',
 'Moradabad',
 'Morbi',
 'Morena',
 'Morigaon',
 'Mulugu',
 'Mumbai',
 'Mumbai Suburban',
 'Mungeli',
 'Munger',
 'Murshidabad',
 'Muzaffarnagar',
 'Muzaffarpur',
 'Mysuru',
 'NTR',
 'Nabarangapur',
 'Nadia',
 'Nagaon',
 'Nagapattinam',
 'Nagarkurnool',
 'Nagaur',
 'Nagpur',
 'Nainital',
 'Nalanda',
 'Nalbari',
 'Nalgonda',
 'Namakkal',
 'Namsai',
 'Nanded',
 'Nandurbar',
 'Nandyal',
 'Narayanpet',
 'Narayanpur',
 'Narmada',
 'Narmadapuram',
 'Narsinghpur',
 'Nashik',
 'Navsari',
 'Nawada',
 'Nawanshahr',
 'Nayagarh',
 'Neemuch',
 'Nellore',
 'Nicobar',
 'Nirmal',
 'Niuland',
 'Niwari',
 'Nizamabad',
 'Noklak',
 'North 24 Parganas',
 'North Delhi',
 'North Dinajpur',
 'North East Delhi',
 'North Garo Hills',
 'North Goa',
 'North Sikkim',
 'North Tripura',
 'North West Delhi',
 'North and Middle Andaman',
 'Nuapada',
 'Nuh',
 'Osmanabad',
 'Pakke Kessang',
 'Pakur',
 'Palakkad',
 'Palamu',
 'Palghar',
 'Pali',
 'Palnadu',
 'Palwal',
 'Panchkula',
 'Panchmahals',
 'Pandhurna',
 'Panipat',
 'Panna',
 'Papum Pare',
 'Parbhani',
 'Parvathipuram Manyam',
 'Paschim Bardhaman',
 'Paschim Medinipur',
 'Pashchimi Singhbhum',
 'Patan',
 'Pathanamthitta',
 'Pathankot',
 'Patiala',
 'Patna',
 'Pauri Garhwal',
 'Peddapalli',
 'Perambalur',
 'Peren',
 'Phek',
 'Pherzawl',
 'Pilibhit',
 'Pithoragarh',
 'Poonch',
 'Porbandar',
 'Prakasam',
 'Pratapgarh',
 'Prayagraj',
 'Puducherry',
 'Pudukkottai',
 'Pulwama',
 'Pune',
 'Purba Bardhaman',
 'Purba Medinipur',
 'Purbi Singhbhum',
 'Puri',
 'Purnia',
 'Purulia',
 'Raebareli',
 'Raichur',
 'Raigad',
 'Raipur',
 'Raisen',
 'Rajanna Sircilla',
 'Rajgarh',
 'Rajkot',
 'Rajnandgaon',
 'Rajouri',
 'Rajsamand',
 'Ramanagara',
 'Ramanathapuram',
 'Ramban',
 'Ramgarh',
 'Rampur',
 'Ranchi',
 'Ranga Reddy',
 'Rangareddi',
 'Ranipet',
 'Ratlam',
 'Ratnagiri',
 'Rayagada',
 'Reasi',
 'Rewa',
 'Rewari',
 'Ri Bhoi',
 'Rohtak',
 'Rohtas',
 'Rudraprayag',
 'Rupnagar',
 'Sabarkantha',
 'Sagar',
 'Saharanpur',
 'Saharsa',
 'Sahibganj',
 'Sahibzada Ajit Singh Nagar',
 'Saiha',
 'Saitual',
 'Sakti',
 'Salem',
 'Salumber',
 'Samastipur',
 'Samba',
 'Sambalpur',
 'Sambhal',
 'Sangareddy',
 'Sangli',
 'Sangrur',
 'Sant Kabir Nagar',
 'Saran',
 'Sarangarh-Bilaigarh',
 'Satara',
 'Satna',
 'Sawai Madhopur',
 'Sehore',
 'Senapati',
 'Seoni',
 'Sepahijala',
 'Seraikela-Kharsawan',
 'Serchhip',
 'Shahdol',
 'Shaheed Bhagat Singh Nagar',
 'Shahjahanpur',
 'Shajapur',
 'Shamator',
 'Shamli',
 'Sheikhpura',
 'Sheohar',
 'Sheopur',
 'Shi Yomi',
 'Shimla',
 'Shimoga',
 'Shivpuri',
 'Shopian',
 'Shravasti',
 'Siang',
 'Siddharth Nagar',
 'Siddipet',
 'Sidhi',
 'Sikar',
 'Simdega',
 'Sindhudurg',
 'Singrauli',
 'Sirmaur',
 'Sirohi',
 'Sirsa',
 'Sitamarhi',
 'Sitapur',
 'Sivaganga',
 'Sivasagar',
 'Siwan',
 'Solan',
 'Solapur',
 'Sonapur',
 'Sonbhadra',
 'Sonipat',
 'Sonitpur',
 'South',
 'South 24 Parganas',
 'South Andaman',
 'South Delhi',
 'South Dinajpur',
 'South East Delhi',
 'South Garo Hills',
 'South Goa',
 'South Salmara Mankachar',
 'South Sikkim',
 'South Tripura',
 'South West Delhi',
 'South West Garo Hills',
 'South West Khasi Hills',
 'Sri Ganganagar',
 'Sri Muktsar Sahib',
 'Sri Potti Sriramulu Nellore',
 'Sri Sathya Sai',
 'Sribhumi',
 'Srikakulam',
 'Srinagar',
 'Subarnapur',
 'Sukma',
 'Sultanpur',
 'Sundargarh',
 'Supaul',
 'Surajpur',
 'Surat',
 'Surendranagar',
 'Surguja',
 'Suryapet',
 'Tamenglong',
 'Tamulpur',
 'Tapi',
 'Tarn Taran',
 'Tawang',
 'Tehri Garhwal',
 'Tenkasi',
 'Thane',
 'Thanjavur',
 'The Nilgiris',
 'Theni',
 'Thiruvallur',
 'Thiruvananthapuram',
 'Thiruvarur',
 'Thoothukkudi',
 'Thoubal',
 'Thrissur',
 'Tikamgarh',
 'Tinsukia',
 'Tirap',
 'Tiruchirappalli',
 'Tirunelveli',
 'Tirupathur',
 'Tirupati',
 'Tiruppur',
 'Tiruvannamalai',
 'Tonk',
 'Tseminyu',
 'Tuensang',
 'Tumakuru',
 'Udaipur',
 'Udalguri',
 'Udham Singh Nagar',
 'Udhampur',
 'Udupi',
 'Ujjain',
 'Ukhrul',
 'Umaria',
 'Una',
 'Unakoti',
 'Unnao',
 'Upper Siang',
 'Upper Subansiri',
 'Uttar Dinajpur',
 'Uttara Kannada',
 'Uttarkashi',
 'Vadodara',
 'Vaishali',
 'Valsad',
 'Varanasi',
 'Vellore',
 'Vidisha',
 'Vijayanagara',
 'Vijayapura',
 'Vikarabad',
 'Villupuram',
 'Virudhunagar',
 'Visakhapatnam',
 'Vizianagaram',
 'Wanaparthy',
 'Warangal',
 'Warangal Rural',
 'Warangal Urban',
 'Wardha',
 'Washim',
 'Wayanad',
 'West Champaran',
 'West Delhi',
 'West Garo Hills',
 'West Godavari',
 'West Jaintia Hills',
 'West Kameng',
 'West Khasi Hills',
 'West Medinipur',
 'West Siang',
 'West Sikkim',
 'West Singhbhum',
 'West Tripura',
 'Wokha',
 'Y. S. R.',
 'Yadadri Bhuvanagiri',
 'Yadgir',
 'Yamunanagar',
 'Yanam',
 'Yavatmal',
 'Zunheboto']

In [ ]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

In [ ]:
df['district'] = df['district'].replace(dist_mapped)

In [ ]:
df['district'].nunique()

779

In [ ]:
l2=[]
l1=[]
for i in (df['state']).unique():
        l2.append(i)
        l1.append(len(sorted(df[df['state']==i]['district'].unique())))

In [ ]:
pd.DataFrame({'state':l2,'num_district':l1}).sort_values(by='state')

                                       state  num_district
33               Andaman and Nicobar Islands             3
14                            Andhra Pradesh            40
29                         Arunachal Pradesh            23
11                                     Assam            35
3                                      Bihar            38
24                                Chandigarh             2
16                              Chhattisgarh            34
28  Dadra and Nagar Haveli and Daman and Diu             3
8                                      Delhi            10
31                                       Goa             3
13                                   Gujarat            33
5                                    Haryana            23
30                          Himachal Pradesh            12
23                         Jammu and Kashmir            22
17                                 Jharkhand            26
1                                  Karnataka            35
27                                    Kerala            15
32                                    Ladakh             2
35                               Lakshadweep             1
9                             Madhya Pradesh            55
4                                Maharashtra            36
19                                   Manipur            12
0                                  Meghalaya            13
22                                   Mizoram            11
18                                  Nagaland            17
26                                    Odisha            31
34                                Puducherry             3
7                                     Punjab            24
6                                  Rajasthan            37
25                                    Sikkim             4
15                                Tamil Nadu            38
20                                 Telangana            35
21                                   Tripura             8
2                              Uttar Pradesh            75
12                               Uttarakhand            13
10                               West Bengal            28

In [ ]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
1,2025-03-09,Karnataka,Bengaluru Urban,560043,14,33,39
2,2025-03-09,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,2025-03-09,Uttar Pradesh,Aligarh,202133,62,29,15
4,2025-03-09,Karnataka,Bengaluru Urban,560016,14,16,21

In [ ]:
df.to_csv("final2.csv")